/vendor/
/node_modules/

/storage/*.key
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/bootstrap/cache/*

/.phpunit.cache/

.env
.env.local
.env.*.local

*.log

.idea/
.vscode/
