DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=true
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost,testserver

POSTGRES_DB=pbshop
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_CONN_MAX_AGE=60

JWT_ACCESS_SECRET=pbshop-python-access-secret
JWT_REFRESH_SECRET=pbshop-python-refresh-secret
JWT_ACCESS_EXPIRES_IN_SECONDS=1800
JWT_REFRESH_EXPIRES_IN_SECONDS=604800

DJANGO_MEDIA_URL=/media/
DJANGO_MEDIA_ROOT=media
